* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Verdana;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

table {
    border-collapse: collapse;
}
td {
    /* border: 1px solid black; */
    padding: .5rem 1rem;
    border-bottom: 1px solid gray;
}
th{
    padding: 1rem 2rem;
    background-color: rgb(5, 5, 50);
    color: white;
}
tr:nth-child(even) {
    background-color: rgb(181, 210, 223);
}

th:first-of-type {
    border-radius: 15px 0 0 0 ;
}
th:last-of-type {
    border-radius: 0 15px 0 0 ;
}

td:first-of-type{
    border-left: 1px solid gray;
}
td:last-of-type{
    border-right: 1px solid gray;
}
tr{
    transition: all .2s ease;
}
tr:hover {
    background-color: rgb(124, 166, 186);
}
